SECRET_KEY=change-this-in-production
DEBUG=False
DATABASE_URL=postgresql://user:password@host:5432/database
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000

ADMIN_USERNAME=Admin1
ADMIN_EMAIL=abdulazizmohammedbello4@gmail.com
ADMIN_PASSWORD=Admin1234

RENDER_BUILD_COMMAND=./build.sh
RENDER_START_COMMAND=gunicorn config.wsgi:application --bind 0.0.0.0:$PORT
